.speech {
    font-family: 'Times New Roman', sans-serif;
    font-size: 16px;
    color: black;
}

.direction {
    font-family: 'AnotherFont', sans-serif;
    font-size: 14px;
    color: black;
    background-color: lightgrey;
}

.direction:hover {
    background-color: darkred;
    color: white;
}

.lomov {
    color: blue;
}

.natalyastepanova {
    color: palevioletred;
}

.cast-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.cast-table th, .cast-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.cast-table th {
    background-color: #f2f2f2;
}

.cast-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}